<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <section id="about" class="about-section" >
        
        <h2>About Us</h2>
        <p>We are a leading car rental company offering a wide range of vehicles for your travel needs.</p>
    </section>
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>